.main{
        border-top: rgb(0, 119, 255) 1px solid;

    h1{
        background-color: #fff;
        font-family: Lexend;
    }
    p{
            font-family: Lexend;
            color: #fff;
            font-size: 2rem;
        }

}    


