.main{
        border-top: rgb(0, 119, 255) 1px solid;

    h1{
        background-color: #fff;
        font-family: Lexend;
    }
    p{
            font-family: Lexend;
            color: #fff;
            font-size: 2rem;
        }
    a{
        text-decoration: none;
        color: rgb(0, 229, 255);
        text-shadow: 0 1px 10px  rgb(0, 229, 255);

        &:hover{
            color: rgb(255, 47, 0);
            text-shadow: 0 1px 10px  rgb(255, 47, 0);
        }
    }

}    


