.header{
    background-color: #3a42573c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4);

    height: 5vh;
    width: 100%;

    font-family: Lexend;
    color: var(--gray-50);

    top: 0;
    left: 0;

    span{
        font-size: 1.5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            position: relative;
            background-color: #fff;
            width: 4px;
            height: 4px;
            border-radius: 60px;
            margin-left: 7px;
            margin-right: 7px;
        }
    }
}

.calendar{
    width: fit-content;;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    margin: 10px;


    table{
        background-color: var(--gray-100);
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        position: relative;

        tr{
            background-color: rgb(255, 255, 255);
            
            
            th{
                padding-top: 1rem;
                padding-bottom: 1rem;
                border: 1px solid rgb(174, 174, 174);
                font-size: 1.4vh;

                color: rgb(38, 38, 38);

                font-family: Lexend, sans-serif;
                font-weight: 800;

                cursor: default;
                user-select: none;

            }
            td{
                text-align: center;
                border: 1px solid rgb(174, 174, 174);
                width:15vh;
                height:15vh;
                position: relative;

                font-family: Lexend, sans-serif;
                font-weight: 500;

                color: rgb(0, 0, 0);
                font-size: 1.5vh;

                cursor: pointer;

                transition: 0.2s;


                &:hover{
                    background-color: rgb(240, 240, 240);
                    transition: 0.2s;
                }
            }
        }
    }
}



//resposive Layout

@media only screen and (max-width: 660px) {
    .calendar{
        table{
            tr{
                td{
                height: 14vh;
                width: 14vh;
                }
            }
        }
    }
}


@media only screen and (max-width: 580px) {
    .calendar{
        table{
            tr{
                td{
                height: 10vh;
                width: 10vh;
                }
            }
        }
    }
}


@media only screen and (max-width: 420px) {
    .calendar{
        table{
            tr{
                td{
                height: 9vh;
                width: 9vh;
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    .calendar{
        table{
            tr{
                td{
                height: 7vh;
                width: 7vh;
                }
            }
        }
    }
}