.footer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .footerFill{
        width: 100%;
        height: 100%;

        ul{
            list-style: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            li:first-child{
                border-left: none;
            }

            li{
                border-left: var(--gray-200) 1px solid;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    background-color: rgb(240, 240, 240);
                }

                &:hover > a img{
                    transition: 0.4s;
                    position: relative;

                    filter: invert(0.5);
                }

                a{
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    img{
                        width: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.4s;

                    }

                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 0.5rem;
                        font-family: Lexend;
                        font-size: 1.5vh;
                        color: var(--gray-800);
                    }
                }
            }
        }
    }
}

// clica

.listagemNone{
    display: none;
}

//lista

.listagem{
    position:absolute;
    width: 85vh;
    height: 70vh;

    top: 10%;


    box-shadow: 0 0 14px rgba(0, 0, 0, 0.201);

    padding: 3rem 7rem  7rem;

    border-radius: 5px;
    background: rgb(249, 249, 249);

    overflow-y: scroll;


    &::-webkit-scrollbar{
        display: none;
    }

    h5{
        font-family: Lexend;
        font-size: 3rem;

        margin-bottom: 2.5rem;
        line-height: 7rem;

        border-bottom: rgb(208, 208, 208)1px solid;

    }

    h6{
        font-family: Lexend;
        font-size: 1.2em;
        color: rgb(0, 0, 0);
        
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    p{
        font-family: Lexend;
        font-size: 0.8rem;

        line-height: 1.4rem;

        color: rgb(62, 62, 62);

        margin-bottom: 1.5rem;
    }

    p::first-letter{
        border-radius: 100px;
        width: 1px;
        height: 1px;
        padding: 0.4px 1.5px;
        background: rgb(255, 0, 0);

        font-size: 3px;

        margin-right: 0.5rem;

        color: rgb(255, 0, 0);
    }
}

//resposive Layout

@media only screen and (max-width: 600px) {
    .footer{
        .footerFill{
            ul li a span{                                
                display: none;
            }
        }
        .listagem{
            width: 50vh;
            height: 45vh;
            padding: 1rem;
            margin-top: 31.5vh;
            h5{
                font-size: 2rem;
            }
        }
    }
  }
